h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.group {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    margin-bottom: 24px;
    justify-content: center;
}

.pokemon {
    text-align: center;
}